<div class="gi-about box rounded-box <%= palette %>">
  <div class="d-flex justify-content-between flex-wrap">
    <div class="mb-2">
      <div class="fs-heading"><%= t('name') %></div>
      <div class="fs-subheading pt-sans-regular-italic">
        <%= t('about.business_description_html') %>
      </div>
    </div>
    <div>
      <%= image_tag 'memyselfandi1.jpg', height: 200, class: 'rounded-2 box-shadow' %>
    </div>
  </div>

  <div class="mt-2"><%= t('about.bratislava_slovakia') %></div>
  <div class="mt-1"><%= link_to '+421 905 289 248', 'tel:+421905289248', class: 'fc-white' %></div>
  <div class="mt-1"><%= link_to '+420 606 727 165', 'tel:+420606727165', class: 'fc-white' %></div>
  <div class="mt-1">
    <%= link_to 'tomas.radic@gmail.com', 'mailto:tomas.radic@gmail.com', class: 'fc-white' %>
  </div>
  <div class="mt-1">
    <%= link_to 'Github', 'https://github.com/tomas-radic', class: 'fc-white text-decoration-underline', target: :_blank %>
    <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/tomas-radic', class: 'fc-white text-decoration-underline ms-2', target: :_blank %>
  </div>

  <div class="subheading mt-4"><%= t('about.heading') %></div>
  <div class="mt-4 text-justify">
    <%= t('about.paragraph1') %>
  </div>
  <div class="mt-3 text-justify">
    <%= t('about.paragraph2') %>
  </div>
  <div class="mt-3 text-justify">
    <%= t('about.paragraph3') %>
  </div>
</div>
