<div class="gi-awards box rounded-box <%= palette %>">
  <div class="subheading"><%= t('awards.subheading') %></div>
  <div>
    <div class="fs-dominant mt-2">
      <%= t('awards.accenture.heading') %>
    </div>
    <div class="fs-minor fc-silver"><%= t('awards.accenture.year') %></div>
    <ul>
      <li>
        <%= t('awards.accenture.description') %>
      </li>
    </ul>
  </div>

  <div>
    <div class="fs-dominant mt-2">
      <%= t('awards.university.heading') %>
    </div>
    <div class="fs-minor fc-silver"><%= t('awards.university.year') %></div>
    <ul>
      <li>
        <%= t('awards.university.description') %>
      </li>
    </ul>
  </div>
</div>
