<div class="gi-education box rounded-box <%= palette %>">
  <div class="subheading"><%= t('education.heading') %></div>

  <div>
    <div class="fs-dominant mt-2">
      <%= t('education.subheading') %>
    </div>
    <div class="fs-minor"><%= t('education.period') %></div>
    <ul>
      <li>
        <%= t('education.description') %><br>
        <%= link_to 'https://fpedas.uniza.sk/sk', 'https://fpedas.uniza.sk/sk', class: 'fc-fire', target: :_blank %>
      </li>
    </ul>
  </div>
</div>
