<div class="gi-experience box rounded-box <%= palette %>">
  <div class="subheading">EXPERIENCE</div>
  <div class="mt-4 text-justify">
    Since 2014 I have been working as self-employed attending many startups or
    mid/small projects often built from the very beginning to the functioning
    application. To name a few:
  </div>

  <div>
    <div class="fs-dominant mt-2">
      3IPK - technical developer
    </div>
    <div class="fs-minor">SEPTEMBER 2022 - PRESENT</div>
    <ul>
      <li>
        Gratitude - web application where the user manages and presents the
        values of their products or company. The user declares the core values
        and/or transparencies and after the approval process they are injected
        as a badge on the product's e-shop webpage.<br>
        <%= link_to 'https://more-gratitude.com', 'https://more-gratitude.com', class: 'fc-terminal', target: :_blank %>
      </li>
      <li>
        Siplabel - web application as a digital wine bottle label accessible by a
        QR code. This is used to publish detailed information about the
        product and its ingredients to match the EU requirements.<br>
        <%= link_to 'https://siplabel.com', 'https://siplabel.com', class: 'fc-terminal', target: :_blank %>
      </li>
    </ul>
  </div>

  <div>
    <div class="fs-dominant mt-2">
      Creatake - technical developer
    </div>
    <div class="fs-minor">MAY 2020 - JULY 2022</div>
    <ul>
      <li>
        Creatake - web application used to create, maintain and deploy a static
        web page mostly for presentation purposes. It is used by graphic
        designers who deliver static web pages to their clients.<br>
        <%= link_to 'https://www.creatake.com', 'https://www.creatake.com', class: 'fc-terminal', target: :_blank %>
      </li>
    </ul>
  </div>

  <div>
    <div class="fs-dominant mt-2">
      Easy Software - technical developer
    </div>
    <div class="fs-minor">OCTOBER 2019 - MAY 2020</div>
    <ul>
      <li>
        Client zone - middleware system between a Vue frontend application
        (GraphQL) and a target system (REST API).
      </li>
    </ul>
  </div>

  <div>
    <div class="fs-dominant mt-2">
      Freevision - technical developer
    </div>
    <div class="fs-minor">JANUARY 2018 - SEPTEMBER 2019</div>
    <ul>
      <li>
        Wilio - web application that connects public people seeking a certain
        kind of service with the providers of that service in their area. It has
        been shut down by the owner after several years.
      </li>
      <li>
        SlovakLines - web application used to search a bus connection and the
        ride ticket purchase.<br>
        <%= link_to 'https://www.slovaklines.sk', 'https://www.slovaklines.sk', class: 'fc-terminal', target: :_blank %>
      </li>
    </ul>
  </div>

  <div>
    <div class="fs-dominant mt-2">
      Orderlord - technical developer
    </div>
    <div class="fs-minor">MAY 2015 - JANUARY 2018</div>
    <ul>
      <li>
        Orderlord - web application with many remote system integrations. The
        application is used by restaurants to manage their optimal food
        delivery. It includes many integrations to other ordering systems as
        well as connection to the POS terminal.
      </li>
    </ul>
  </div>

  <div class="fs-minor pt-sans-regular-italic mt-2">
    (Older projects can be discussed personally. If any included link is not working the app may have
    been later shut down by the owner for any business reason as it happens to startups.)
  </div>

  <div>
    <div class="fs-dominant mt-4">
      Accenture Technology Solutions - technical developer / maintenance
    </div>
    <div class="fs-minor">SEPTEMBER 2004 - NOVEMBER 2013</div>
    <ul>
      <li>
        My first regular full-time job in Accenture included projects with some
        development in C programming language, C# language and the
        Microsoft .NET technology. Beside that I attended other system
        maintenance projects.
      </li>
    </ul>
  </div>
</div>
