<div class="gi-experience box rounded-box <%= palette %>">
  <div class="subheading"><%= t('experience.heading') %></div>
  <div class="mt-4 text-justify">
    <%= t('experience.paragraph1') %>
  </div>

  <div>
    <div class="fs-dominant mt-2">
      <%= t('experience.3ipk.heading') %>
    </div>
    <div class="fs-minor"><%= t('experience.3ipk.period') %></div>
    <ul>
      <li>
        <%= t('experience.3ipk.gratitude_description') %><br>
        <%= link_to 'https://more-gratitude.com', 'https://more-gratitude.com', class: 'fc-terminal', target: :_blank %>
      </li>
      <li>
        <%= t('experience.3ipk.siplabel_description') %><br>
        <%= link_to 'https://siplabel.com', 'https://siplabel.com', class: 'fc-terminal', target: :_blank %>
      </li>
    </ul>
  </div>

  <div>
    <div class="fs-dominant mt-2">
      <%= t('experience.creatake.heading') %>
    </div>
    <div class="fs-minor"><%= t('experience.creatake.period') %></div>
    <ul>
      <li>
        <%= t('experience.creatake.description') %><br>
        <%= link_to 'https://www.creatake.com', 'https://www.creatake.com', class: 'fc-terminal', target: :_blank %>
      </li>
    </ul>
  </div>

  <div>
    <div class="fs-dominant mt-2">
      <%= t('experience.easy_software.heading') %>
    </div>
    <div class="fs-minor"><%= t('experience.easy_software.period') %></div>
    <ul>
      <li>
        <%= t('experience.easy_software.description') %>
      </li>
    </ul>
  </div>

  <div>
    <div class="fs-dominant mt-2">
      <%= t('experience.freevision.heading') %>
    </div>
    <div class="fs-minor"><%= t('experience.freevision.period') %></div>
    <ul>
      <li>
        <%= t('experience.freevision.wilio_description') %>
      </li>
      <li>
        <%= t('experience.freevision.slovak_lines_description') %><br>
        <%= link_to 'https://www.slovaklines.sk', 'https://www.slovaklines.sk', class: 'fc-terminal', target: :_blank %>
      </li>
    </ul>
  </div>

  <div>
    <div class="fs-dominant mt-2">
      <%= t('experience.orderlord.heading') %>
    </div>
    <div class="fs-minor"><%= t('experience.orderlord.period') %></div>
    <ul>
      <li>
        <%= t('experience.orderlord.description') %>
      </li>
    </ul>
  </div>

  <div class="fs-minor pt-sans-regular-italic mt-2">
    <%= t('experience.paragraph2') %>
  </div>

  <div>
    <div class="fs-dominant mt-4">
      <%= t('experience.accenture.heading') %>
    </div>
    <div class="fs-minor"><%= t('experience.accenture.period') %></div>
    <ul>
      <li>
        <%= t('experience.accenture.description') %>
      </li>
    </ul>
  </div>
</div>
