<div class="gi-interests box rounded-box <%= palette %>">
  <div class="subheading"><%= t('interests.subheading') %></div>
  <div class="mt-4 text-justify">
    <%= t('interests.paragraph') %>
  </div>
  <ul>
    <li>
      <%= t('interests.tennis') %>
    </li>
    <li>
      <%= t('interests.guitar') %>
    </li>
    <li>
      <%= t('interests.other') %>
    </li>
  </ul>
</div>
