<div class="gi-skills box rounded-box <%= palette %>">
  <div class="subheading"><%= t('skills.heading') %></div>
  <div class="mt-4 text-justify">
    <%= t('skills.paragraph1') %>
  </div>

  <ul>
    <li><%= t('skills.rails') %></li>
    <li><%= t('skills.rspec') %></li>
    <li><%= t('skills.hotwire') %></li>
    <li><%= t('skills.stimulus') %></li>
    <li><%= t('skills.api') %></li>
    <li><%= t('skills.styling') %></li>
    <li><%= t('skills.postgres') %></li>
    <li><%= t('skills.git') %></li>
    <li><%= t('skills.heroku') %></li>
  </ul>
  <div class="mt-3 text-justify">
    <%= t('skills.paragraph2') %>
  </div>
  <ul>
    <li><%= t('skills.cpp') %></li>
    <li><%= t('skills.mfc') %></li>
    <li><%= t('skills.net') %></li>
  </ul>
</div>
