<div class="gi-volunteering box rounded-box <%= palette %>">
  <div class="subheading">
    <%= t('volunteering.heading') %>
  </div>
  <div class="mt-4 text-justify">
    <%= t('volunteering.paragraph') %>
  </div>

  <div>
    <div class="fs-dominant mt-2">
      <%= t('volunteering.slovensko_digital.heading_html') %>
    </div>
    <ul>
      <li>
        <%= t('volunteering.slovensko_digital.description') %><br>
        <%= link_to 'https://navody.digital', 'https://navody.digital', class: 'fc-silver', target: :_blank %>
      </li>
    </ul>
  </div>

  <div>
    <div class="fs-dominant mt-2">
      <%= t('volunteering.personal_projects.heading_html') %>
    </div>
    <ul>
      <li>
        <%= t('volunteering.personal_projects.description') %><br>
        <%= link_to 'https://github.com/tomas-radic', 'https://github.com/tomas-radic', class: 'fc-silver', target: :_blank %>
      </li>
    </ul>
  </div>

  <div>
    <div class="fs-dominant mt-2">
      <%= t('volunteering.rails_girls.heading_html') %>
    </div>
    <ul>
      <li>
        <%= t('volunteering.rails_girls.description') %><br>
        <%= link_to 'https://railsgirls.com', 'https://railsgirls.com', class: 'fc-silver', target: :_blank %>
      </li>
    </ul>
  </div>
</div>
