<div class="grid-container">
  <%= render 'profiles/about', palette: 'palette1' %>
  <%= render 'profiles/skills', palette: 'palette3' %>
  <%= render 'profiles/experience', palette: 'palette-terminal' %>
  <%= render 'profiles/volunteering', palette: 'palette3' %>
  <%= render 'profiles/awards', palette: 'palette1' %>
  <%= render 'profiles/education', palette: 'palette2' %>
  <%= render 'profiles/interests', palette: 'palette3' %>
  <%= render 'profiles/contacts' %>
</div>
