<div class="grid-container">
  <div class="gi-about box rounded-box palette1">
    <div class="fs-heading">Tomáš Radič</div>
    <div class="fs-subheading pt-sans-regular-italic">
      developer<br>web apps<br>internet services
    </div>

    <div class="mt-4">Bratislava, Slovakia</div>
    <div class="mt-1">
      <%= link_to '+421 0905 289 248', 'tel:+421905289248', class: 'fc-white' %> /
      <%= link_to '+420 606 727 165', 'tel:+420606727165', class: 'fc-white' %>
    </div>
    <div class="mt-1">
      <%= link_to 'tomas.radic@gmail.com', 'mailto:tomas.radic@gmail.com', class: 'fc-white' %>
    </div>
    <div class="mt-1">
      <%= link_to 'Github', 'https://github.com/tomas-radic', class: 'fc-white', target: :_blank %>
      <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/tomas-radic', class: 'fc-white', target: :_blank %>
    </div>

    <div class="subheading mt-4">ABOUT ME</div>
    <div class="mt-4 text-justify">
      Welcome! My name is Tomas, I am a web developer living mostly in Bratislava,
      Slovakia. I am passionate about programming and I like the focus on the best
      solution I can come up with. I believe the passion is the key point to keep
      improving, discovering and bringing the best value I can give.
    </div>
    <div class="mt-3 text-justify">
      Since 2014 I have been fully focusing on and working with Ruby on Rails open
      source framework together with Rails related technologies. I find it to be very
      interesting and powerful for web development and internet services. I strongly
      prefer to apply design first methodology and single competence unit tested
      classes pattern together with test driven development for which I use RSpec.
    </div>
    <div class="mt-3 text-justify">
      I am mostly interested in middle/small projects like startups where everything
      needs to be built from zero to MVP and further. My weekly capacity for the
      project is usually 28-32 hours.
    </div>
  </div>
  <div class="gi-skills box rounded-box palette3">
    <div class="subheading">SKILLS</div>
    <div class="mt-4 text-justify">
      The stack I work with has always included RUBY ON RAILS since 2014 and I
      still use it. My backend/frontend proportion could be expressed like 70/30. It
      also includes:
    </div>

    <ul>
      <li>Hotwire, Turbo (frames, streams)</li>
      <li>Stimulus (JS controllers)</li>
      <li>Postgres DB</li>
      <li>REST API integrations, GraphQL</li>
      <li>HTML, SCSS, BEM</li>
      <li>Git</li>
    </ul>
    <div class="mt-3 text-justify">
      Except of those, I previously spent a couple of years with non-web
      programming in the MS Windows environment which I haven't done recently.
    </div>
    <ul>
      <li>C / C++ programming language (6 years overall)</li>
      <li>MFC library</li>
      <li>.NET desktop apps written in C#</li>
    </ul>
  </div>
  <div class="gi-experience box rounded-box palette1">
    <div class="subheading">EXPERIENCE</div>
    <div class="mt-4 text-justify">
      Since 2014 I have been working as self-employed attending many startups or
      mid/small projects often built from the very beginning to the functioning
      application. To name a few:
    </div>

    <div>
      <div class="fs-dominant mt-2">
        3IPK - <span class="fc-silver">technical developer</span>
      </div>
      <div class="fs-minor fc-silver">SEPTEMBER 2022 - PRESENT</div>
      <ul>
        <li>
          Gratitude - web application where the user manages and presents the
          values of their products or company. The user declares the core values
          and/or transparencies and after the approval process they are injected
          as a badge on the product's e-shop webpage.<br>
          <%= link_to 'https://more-gratitude.com', 'https://more-gratitude.com', class: 'fc-silver', target: :_blank %>
        </li>
        <li>
          Siplabel - web application as a digital wine bottle label accessible by a
          QR code. This is used to publish detailed information about the
          product and its ingredients to match the EU requirements.<br>
          <%= link_to 'https://siplabel.com', 'https://siplabel.com', class: 'fc-silver', target: :_blank %>
        </li>
      </ul>
    </div>

    <div>
      <div class="fs-dominant mt-2">
        Creatake - <span class="fc-silver">technical developer</span>
      </div>
      <div class="fs-minor fc-silver">MAY 2020 - JULY 2022</div>
      <ul>
        <li>
          Creatake - web application used to create, maintain and deploy a static
          web page mostly for presentation purposes. It is used by graphic
          designers who deliver static web pages to their clients.<br>
          <%= link_to 'https://www.creatake.com', 'https://www.creatake.com', class: 'fc-silver', target: :_blank %>
        </li>
      </ul>
    </div>

    <div>
      <div class="fs-dominant mt-2">
        Easy Software - <span class="fc-silver">technical developer</span>
      </div>
      <div class="fs-minor fc-silver">OCTOBER 2019 - MAY 2020</div>
      <ul>
        <li>
          Client zone - middleware system between a Vue frontend application
          (GraphQL) and a target system (REST API).
        </li>
      </ul>
    </div>

    <div>
      <div class="fs-dominant mt-2">
        Freevision - <span class="fc-silver">technical developer</span>
      </div>
      <div class="fs-minor fc-silver">JANUARY 2018 - SEPTEMBER 2019</div>
      <ul>
        <li>
          Wilio - web application that connects public people seeking a certain
          kind of service with the providers of that service in their area. It has
          been shut down by the owner after several years.
        </li>
        <li>
          SlovakLines - web application used to search a bus connection and the
          ride ticket purchase.<br>
          <%= link_to 'https://www.slovaklines.sk', 'https://www.slovaklines.sk', class: 'fc-silver', target: :_blank %>
        </li>
      </ul>
    </div>

    <div>
      <div class="fs-dominant mt-2">
        Orderlord - <span class="fc-silver">technical developer</span>
      </div>
      <div class="fs-minor fc-silver">MAY 2015 - JANUARY 2018</div>
      <ul>
        <li>
          Orderlord - web application with many remote system integrations. The
          application is used by restaurants to manage their optimal food
          delivery. It includes many integrations to other ordering systems as
          well as connection to the POS terminal.
        </li>
      </ul>
    </div>

    <div class="fs-minor pt-sans-regular-italic mt-2">
      (Older projects can be discussed personally. If any included link is not working the app may have
      been later shut down by the owner for any business reason as it happens to startups.)
    </div>

    <div>
      <div class="fs-dominant mt-4">
        Accenture Technology Solutions - <span class="fc-silver">technical developer / maintenance</span>
      </div>
      <div class="fs-minor fc-silver">SEPTEMBER 2004 - NOVEMBER 2013</div>
      <ul>
        <li>
          My first regular full-time job in Accenture included projects with some
          development in C programming language, C# language and the
          Microsoft .NET technology. Beside that I attended other system
          maintenance projects.
        </li>
      </ul>
    </div>
  </div>

  <div class="gi-volunteering box rounded-box palette3">
    <div class="subheading">
      VOLUNTEERING
    </div>
    <div class="mt-4 text-justify">
      Beside the commercial work I attend in some volunteering projects.
    </div>

    <div>
      <div class="fs-dominant mt-2">
        Slovensko.Digital - <span class="fc-silver">technical developer</span>
      </div>
      <ul>
        <li>
          Navody.digital - web application helping public people to successfully
          pass oﬃcial matters whenever needed. It describes steps needed to
          be taken with detailed explanations and some automatization when
          possible.<br>
          <%= link_to 'https://navody.digital', 'https://navody.digital', class: 'fc-silver', target: :_blank %>
        </li>
      </ul>
    </div>

    <div>
      <div class="fs-dominant mt-2">
        Personal projects - <span class="fc-silver">technical developer</span>
      </div>
      <ul>
        <li>
          As a passionate tennis player I have created more web applications
          used by my local tennis community to organize and manage summer
          tennis competitions. These apps sometimes change, sometimes are
          merged - always by current year needs.<br>
          <%= link_to 'https://github.com/tomas-radic', 'https://github.com/tomas-radic', class: 'fc-silver', target: :_blank %>
        </li>
      </ul>
    </div>

    <div>
      <div class="fs-dominant mt-2">
        Rails Girls - <span class="fc-silver">mentor</span>
      </div>
      <ul>
        <li>
          Several times attended as a mentor in Rails Girls weekend events
          organized to demonstrate how applications are technically built to
          women interested in the information technology world.<br>
          <%= link_to 'https://railsgirls.com', 'https://railsgirls.com', class: 'fc-silver', target: :_blank %>
        </li>
      </ul>
    </div>
  </div>

  <div class="gi-awards box rounded-box palette1">
    <div class="subheading">AWARDS</div>
    <div>
      <div class="fs-dominant mt-2">
        Accenture innovation competition winner
      </div>
      <div class="fs-minor fc-silver">2010</div>
      <ul>
        <li>
          Winner of internal Accenture competition of innovations. I created a desktop
          C#/.NET application watching tickets assigned to a workgroup with
          notifications and statistics. This solution ensured the high priority tickets to be
          no more overlooked.
        </li>
      </ul>
    </div>

    <div>
      <div class="fs-dominant mt-2">
        University competition winner
      </div>
      <div class="fs-minor fc-silver">2004</div>
      <ul>
        <li>
          At the end of my studies I came up with my own idea for my thesis. I
          developed two C++/MFC based applications (Amod and Simod) that have
          replaced a command line based program used for transportation computing
          and simulation at the university. These apps added a lot of new options,
          loading and saving to files and a visual presentation as a Windows desktop
          application. I won a university competition with these apps and later they
          started to be used by the University of Žilina for educational purposes
          oﬃcially.
        </li>
      </ul>
    </div>
  </div>

  <div class="gi-education box rounded-box palette2">
    <div class="subheading">EDUCATION</div>

    <div>
      <div class="fs-dominant mt-2">
        University of Žilina, Žilina, Slovakia - Ing.
      </div>
      <div class="fs-minor">SEPTEMBER 1998 - MAY 2004</div>
      <ul>
        <li>
          I have studied at the Faculty of Operation and Economics of Transport
          and Communications in Žilina. It is a technical heavy study focused on
          mechanical engineering, electrical engineering, materials, operational
          analysis, math, physics, vehicles and transportation problems.<br>
          <%= link_to 'https://fpedas.uniza.sk/sk', 'https://fpedas.uniza.sk/sk', class: 'fc-fire', target: :_blank %>
        </li>
      </ul>
    </div>
  </div>

  <div class="gi-interests box rounded-box palette3">
    <div class="subheading">HOBBIES / INTERESTS</div>
    <div class="mt-4 text-justify">
      Beside the fact that computer programming is my favourite hobby used also
      for living I have several more to mention.
    </div>
    <ul>
      <li>
        Tennis - I have been a passionate tennis player since 2003 until now. I
        do attend a lot of tournaments and leagues and I also organize a summer-long
        tennis competition in my original hometown every year. I still practice a lot
        and attend training sessions every week.
      </li>
      <li>
        Electric guitar jamming - I love to jam over bluesy/jazzy/funk music on
        my electric guitar every day.
      </li>
      <li>
        Meeting friends, talking, spending time in nature, travelling.
      </li>
    </ul>
  </div>

  <div class="gi-contacts box rounded-box">
    <div class="d-flex justify-content-center py-4">
      <section class="text-center">
        <div class="fs-subheading pt-sans-bold-italic">CONTACTS</div>
        <div class="mt-4">Tomáš Radič</div>
        <div class="mt-1">
          <%= link_to '+421 0905 289 248', 'tel:+421905289248', class: 'fc-white' %> /
          <%= link_to '+420 606 727 165', 'tel:+420606727165', class: 'fc-white' %>
        </div>
        <div class="mt-1">
          <%= link_to 'tomas.radic@gmail.com', 'mailto:tomas.radic@gmail.com', class: 'fc-white' %>
        </div>
        <div class="mt-1">
          <%= link_to 'Github', 'https://github.com/tomas-radic', class: 'fc-white', target: :_blank %>
          <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/tomas-radic', class: 'fc-white', target: :_blank %>
        </div>
      </section>
    </div>
  </div>
</div>
